## データの永続化
### sqlite
* 軽量データベースを実装するc言語のライブラリ
* サーバ用のプロセスを必要としない、組み込み型データベースエンジン。
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [3]:
#DBファイルの保存先パス
path = ''

#DBファイル名
db_name = 'test.db'

#DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる

In [ ]:
path = ''
db_name = 'car.db'

#　DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)

# SQLを実行するためにカーソルオブジェクトを取得
cur = conn.cursor()

# テーブルの作成
sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL )'

# SQLの実行
cur.execute(sql)

#DBへの接続を閉じる
conn.close()

## データをDBに挿入する(単一レコード)

In [9]:
path = ''
db_name = 'car.db'
try:
    #　DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQLを実行するためにカーソルオブジェクトを取得
    cur = conn.cursor()

    # テーブルの作成
    # データの挿入
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000)"
    # SQLの実行
    cur.execute(sql)
    # 変更を保存
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:    
    #DBへの接続を閉じる
     conn.close()

### データをDBに挿入する(複数レコード)

In [ ]:
path = ''
db_name = 'car.db'
try:
    #　DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQLを実行するためにカーソルオブジェクトを取得
    cur = conn.cursor()

    # テーブルの作成
    # データの挿入
    sql = "INSERT INTO cars (id, name, price) VALUES (?,?,?)"

    cars = [
        (2, 'Skyline', 8000000),
        (3, 'Supra', 9000000),
        (4, 'Silvia', 6000000)
    ]
    # SQLの実行
    cur.execute(sql,cars)
    # 変更を保存
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
finally:    
    #DBへの接続を閉じる
     conn.close()

エラーが発生しました: Cannot operate on a closed database.

## DBないのデータを参照する

In [12]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # * の部分は，取得したい列の名前を，区切りで指定することもできる．
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    for row in cur:
        # 行データ(row)はタプルなので，アンパックして列データを取得
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

1 370z 7000000.0

## データの削除

In [13]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE id = 1;
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = '911カレラ';"
    # sql = "DELETE FROM cars WHERE name like '%カレラ';"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

## データの更新

In [14]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQL文の実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()